@font-face {
	font-family: Larish;
	src: url(fonts/LarishNeueSemibold-Regular.otf);
}

* {
	box-sizing: border-box;
	font-size: 0;
}

.container{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: black;

}

.box {
	display: inline-block;
	position: relative;
	width: 20%;
	height: 20vh;
	margin: 2vh 2%;
	background-color: black;
	border-radius: 100%;
	vertical-align: top;
	font-family: Larish;
	font-size: 15vh;
	line-height: 22vh;
	color: white;
	text-align: center;
	transition: all 3s;
}



@media (max-width: 1400px) {
	#_0 {
		transform: rotateY(4.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1375px) {
	#_0 {
		transform: rotateY(9deg);
	}
	#_1 {
		transform: rotateY(4.5deg);
	}
	.box {
		transition: all 3s;
	}
}
@media (max-width: 1350px) {
	#_0 {
		transform: rotateY(13.5deg);
	}
	#_1 {
		transform: rotateY(9deg);
	}
	#_2 {
		transform: rotateY(4.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1325px) {
	#_0 {
		transform: rotateY(18deg);
	}
	#_1 {
		transform: rotateY(13.5deg);
	}
	#_2 {
		transform: rotateY(9deg);
	}
	#_3 {
		transform: rotateY(4.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1300px) {
	#_0 {
		transform: rotateY(22.5deg);
	}
	#_1 {
		transform: rotateY(18deg);
	}
	#_2 {
		transform: rotateY(13.5deg);
	}
	#_3 {
		transform: rotateY(9deg);
	}
	#_4 {
		transform: rotateY(4.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1275px) {
	#_0 {
		transform: rotateY(27deg);
	}
	#_1 {
		transform: rotateY(22.5deg);
	}
	#_2 {
		transform: rotateY(18deg);
	}
	#_3 {
		transform: rotateY(13.5deg);
	}
	#_4 {
		transform: rotateY(9deg);
	}
	#_5 {
		transform: rotateY(4.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1250px) {
	#_0 {
		transform: rotateY(31.5deg);
	}
	#_1 {
		transform: rotateY(27deg);
	}
	#_2 {
		transform: rotateY(22.5deg);
	}
	#_3 {
		transform: rotateY(18deg);
	}
	#_4 {
		transform: rotateY(13.5deg);
	}
	#_5 {
		transform: rotateY(9deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1225px) {
	#_0 {
		transform: rotateY(36deg);
	}
	#_1 {
		transform: rotateY(31.5deg);
	}
	#_2 {
		transform: rotateY(27deg);
	}
	#_3 {
		transform: rotateY(22.5deg);
	}
	#_4 {
		transform: rotateY(18deg);
	}
	#_5 {
		transform: rotateY(13.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1200px) {
	#_0 {
		transform: rotateY(40.5deg);
	}
	#_1 {
		transform: rotateY(36deg);
	}
	#_2 {
		transform: rotateY(31.5deg);
	}
	#_3 {
		transform: rotateY(27deg);
	}
	#_4 {
		transform: rotateY(22.5deg);
	}
	#_5 {
		transform: rotateY(18deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1175px) {
	#_0 {
		transform: rotateY(45deg);
	}
	#_1 {
		transform: rotateY(40.5deg);
	}
	#_2 {
		transform: rotateY(36deg);
	}
	#_3 {
		transform: rotateY(31.5deg);
	}
	#_4 {
		transform: rotateY(27deg);
	}
	#_5 {
		transform: rotateY(22.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1150px) {
	#_0 {
		transform: rotateY(49.5deg);
	}
	#_1 {
		transform: rotateY(45deg);
	}
	#_2 {
		transform: rotateY(40.5deg);
	}
	#_3 {
		transform: rotateY(36deg);
	}
	#_4 {
		transform: rotateY(31.5deg);
	}
	#_5 {
		transform: rotateY(27deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1125px) {
	#_0 {
		transform: rotateY(54deg);
	}
	#_1 {
		transform: rotateY(49.5deg);
	}
	#_2 {
		transform: rotateY(45deg);
	}
	#_3 {
		transform: rotateY(40.5deg);
	}
	#_4 {
		transform: rotateY(36deg);
	}
	#_5 {
		transform: rotateY(31.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1100px) {
	#_0 {
		transform: rotateY(58.5deg);
	}
	#_1 {
		transform: rotateY(54deg);
	}
	#_2 {
		transform: rotateY(49.5deg);
	}
	#_3 {
		transform: rotateY(45deg);
	}
	#_4 {
		transform: rotateY(40.5deg);
	}
	#_5 {
		transform: rotateY(36deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1075px) {
	#_0 {
		transform: rotateY(63deg);
	}
	#_1 {
		transform: rotateY(58.5deg);
	}
	#_2 {
		transform: rotateY(54deg);
	}
	#_3 {
		transform: rotateY(49.5deg);
	}
	#_4 {
		transform: rotateY(45deg);
	}
	#_5 {
		transform: rotateY(40.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1050px) {
	#_0 {
		transform: rotateY(67.5deg);
	}
	#_1 {
		transform: rotateY(63deg);
	}
	#_2 {
		transform: rotateY(58.5deg);
	}
	#_3 {
		transform: rotateY(54deg);
	}
	#_4 {
		transform: rotateY(49.5deg);
	}
	#_5 {
		transform: rotateY(45deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1250px) {
	#_0 {
		transform: rotateY(72deg);
	}
	#_1 {
		transform: rotateY(67.5deg);
	}
	#_2 {
		transform: rotateY(63deg);
	}
	#_3 {
		transform: rotateY(58.5deg);
	}
	#_4 {
		transform: rotateY(54deg);
	}
	#_5 {
		transform: rotateY(49.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1025px) {
	#_0 {
		transform: rotateY(76.5deg);
	}
	#_1 {
		transform: rotateY(72deg);
	}
	#_2 {
		transform: rotateY(67.5deg);
	}
	#_3 {
		transform: rotateY(63deg);
	}
	#_4 {
		transform: rotateY(58.5deg);
	}
	#_5 {
		transform: rotateY(54deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 1000px) {
	#_0 {
		transform: rotateY(81deg);
	}
	#_1 {
		transform: rotateY(76.5deg);
	}
	#_2 {
		transform: rotateY(72deg);
	}
	#_3 {
		transform: rotateY(67.5deg);
	}
	#_4 {
		transform: rotateY(63deg);
	}
	#_5 {
		transform: rotateY(58.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 975px) {
	#_0 {
		transform: rotateY(85.5deg);
	}
	#_1 {
		transform: rotateY(81deg);
	}
	#_2 {
		transform: rotateY(76.5deg);
	}
	#_3 {
		transform: rotateY(72deg);
	}
	#_4 {
		transform: rotateY(67.5deg);
	}
	#_5 {
		transform: rotateY(63deg);
	}
	.box {
		transition: all 3s;
	}
}
@media (max-width: 950px) {
	#_0 {
		transform: rotateY(90deg);
	}
	#_1 {
		transform: rotateY(85.5deg);
	}
	#_2 {
		transform: rotateY(81deg);
	}
	#_3 {
		transform: rotateY(76.5deg);
	}
	#_4 {
		transform: rotateY(72deg);
	}
	#_5 {
		transform: rotateY(67.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 925px) {
	#_0 {
		opacity: 0.5;
		transform: rotateY(94.5deg);
	}
	#_1 {
		transform: rotateY(90deg);
	}
	#_2 {
		transform: rotateY(85.5deg);
	}
	#_3 {
		transform: rotateY(81deg);
	}
	#_4 {
		transform: rotateY(76.5deg);
	}
	#_5 {
		transform: rotateY(72deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 900px) {
	#_0 {
		transform: rotateY(99deg);
	}
	#_2 {
		transform: rotateY(90deg);
	}
	#_3 {
		transform: rotateY(85.5deg);
	}
	#_4 {
		transform: rotateY(81deg);
	}
	#_5 {
		transform: rotateY(76.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 875px) {
	#_0 {
		transform: rotateY(103.5deg);
	}
	#_3 {
		transform: rotateY(90deg);
	}
	#_4 {
		transform: rotateY(85.5deg);
	}
	#_5 {
		transform: rotateY(81deg);
	}
	.box {
		transition: all 3s;
	}

}

@media (max-width: 850px) {
	#_0 {
		transform: rotateY(108deg);
	}
	#_4 {
		transform: rotateY(90deg);
	}
	#_5 {
		transform: rotateY(85.5deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 825px) {
	#_5 {
		transform: rotateY(90deg);
	}
	.box {
		transition: all 3s;
	}
}

@media (max-width: 800px) {
	..box {
		transition: all 3s;
	}
}

@media (max-width: 775px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 750px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 725px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 700px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 675px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 650px) {
	.box {
		transition: all 3s;
	}
}
@media (max-width: 625px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 600px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 575px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 550px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 525px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 500px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 475px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 450px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 425px) {
	.box {
		transition: all 3s;
	}
}

@media (max-width: 400px) {
	.box {
		transition: all 3s;
	}
}
