@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
	font-family: 'Source Code Pro', monospace;
	font-size: 0;
	box-sizing: border-box;
}

:root {
	--module_width: 100px;
	--module_height: calc(var(--module_width) * 0.83);
	--vreveal: calc(var(--module_width) * 1.24);
	--hreveal: calc(var(--module_height) * 1);
	--display_width: 150px;
	--display_height: calc(var(--display_width) * 0.83);
	--background: red;
}

span {
	margin: 0;
	padding: 0;
}

body {
	background: var(--background);
	padding: 0;
	margin: 0;
}

.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	right:0;
	background: var(--background);
}

#welcome {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	background: var(--background);
	opacity: 1;
	transition: opacity 2s, z-index 3s;
}

._06.d {
	z-index: 1000;
}

.nav {
	text-align: center;
	color: white;
	font-size: 60px;
	line-height: 0px;
}

.marker {
	font-size: 60px;
	display: block;
	position: relative;
}

#colors {
	position: fixed;
	display: inline-block;
	z-index: 999;
	top: -34px;
	left: calc(50% - 108px);
	transition: top 1s;
}

#colors:hover {
	top: 5px;
	transition: top 0.5s;
}

#colors .marker {
	top: 47px;
}

#vowels {
	position: fixed;
	display: inline-block;
	z-index: 999;
	top: 50%;
	left: -116px;
	transition: left 1s;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#vowels:hover {
	left: -77px;
	transition: left 0.5s;
}

#vowels .marker {
	top: 47px;
}

#height_resize {
	display: inline-block;
	position: fixed;
	z-index: 999;
	bottom: -5px;
	left: calc(50% - 144px);
	transition: bottom 1s;
}

#height_resize:hover {
	bottom: 34px;
	transition: bottom 0.5s;
}

#height_resize .marker {
	bottom: 19px;
}

#width_resize {
	display: inline-block;
	position: fixed;
	z-index: 999;
	top: 50%;
	right: -153px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transition: right 1s;
}

#width_resize:hover {
	right: -114px;
	transition: right 0.5s;
}

#width_resize .marker {
	bottom: 19px;
}

.text {
	z-index: 1000;
	font-size: 20px;
	background: white;
	padding: 6px 10px 8px 10px;
	color: blue;
}

@-webkit-keyframes rock {
		0% {-webkit-transform: rotate(0deg);}
		30% {-webkit-transform: rotate(-18deg);}
		70% {-webkit-transform: rotate(30deg);}
		100% {-webkit-transform: rotate(0deg);}
}

@keyframes rock {
		0% {transform: rotate(0deg);}
		30% {transform: rotate(-18deg);}
		70% {transform: rotate(30deg);}
		100% {transform: rotate(0deg);}
}

.box {
	position: fixed;
	width: var(--module_width);
	height: var(--module_height);
	background: url(../images/o_blue.svg);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: top;
	-webkit-filter: none;
	filter: none;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation: rock 20s infinite;
	animation: rock 20s infinite;
	opacity: 1;
	transition: width 5s, height 5s, right 5s, opacity 1s;
}

.box:hover {
	cursor: pointer;
}

.display {
	position: fixed;
	z-index: 999;
	background: url();
	background-size: contain;
	background-repeat: no-repeat;
	width: var(--display_width);
	height: var(--display_height);
	top: calc(50vh - var(--display_height) / 2);
	left: calc(50% - var(--display_width) / 2);
	-webkit-filter: grayscale(100%) brightness(12);
	filter: grayscale(100%) brightness(12);
	opacity: 1;

}

/* ._01 = colummn, .a = row */

._000000 {
	right: calc(var(--vreveal) * -5);
}

._00000 {
	right: calc(var(--vreveal) * -4);
}

._0000 {
	right: calc(var(--vreveal) * -3);
}

._000 {
	right: calc(var(--vreveal) * -2);
}

._00 {
	right: calc(var(--vreveal) * -1);
}

._01 {
	right: calc(var(--vreveal) * 0);
}

._02 {
	right: calc(var(--vreveal) * 1);
}

._03 {
	right: calc(var(--vreveal) * 2);
}

._04 {
	right: calc(var(--vreveal) * 3);
}

._05 {
	right: calc(var(--vreveal) * 4);
}

._06 {
	right: calc(var(--vreveal) * 5);
}

._07 {
	right: calc(var(--vreveal) * 6);
}

._08 {
	right: calc(var(--vreveal) * 7);
}

._09 {
	right: calc(var(--vreveal) * 8);
}

._10 {
	right: calc(var(--vreveal) * 9);
}

._11 {
	right: calc(var(--vreveal) * 10);
}

._12 {
	right: calc(var(--vreveal) * 11);
}

._13 {
	right: calc(var(--vreveal) * 12);
}

._14 {
	right: calc(var(--vreveal) * 13);
}

._15 {
	right: calc(var(--vreveal) * 14);
}

.zz {
	top: calc(var(--hreveal) * -2);
}

.z {
	top: calc(var(--hreveal) * -1);
}

.a {
	top: calc(var(--hreveal) * 0);
}

.b {
	top: calc(var(--hreveal) * 1);
}

.c {
	top: calc(var(--hreveal) * 2);
}

.d {
	top: calc(var(--hreveal) * 3);
}

.e {
	top: calc(var(--hreveal) * 4);
}

.f {
	top: calc(var(--hreveal) * 5);
}

.g {
	top: calc(var(--hreveal) * 6);
}

.h {
	top: calc(var(--hreveal) * 7);
}

.i {
	top: calc(var(--hreveal) * 8);
}

.j {
	top: calc(var(--hreveal) * 9);
}

.k {
	top: calc(var(--hreveal) * 10);
}

/* width breakpoints */

@media (max-width: 1500px) {
	.box {

	}

}

@media (max-width: 1400px) {
}

@media (max-width: 1375px) {
}

@media (max-width: 1350px) {
}

@media (max-width: 1325px) {

}

@media (max-width: 1300px) {
	:root {
		--vreveal: calc(var(--module_width));
	}
}

@media (max-width: 1275px) {

}

@media (max-width: 1250px) {
}

@media (max-width: 1225px) {

}

@media (max-width: 1200px) {
}

@media (max-width: 1175px) {

}

@media (max-width: 1150px) {
}

@media (max-width: 1125px) {

}

@-webkit-keyframes rock02 {
		0% {-webkit-transform: rotate(0deg);}
		30% {-webkit-transform: rotate(-73.5deg);}
		70% {-webkit-transform: rotate(70deg);}
		100% {-webkit-transform: rotate(0deg);}
		transition: all 2s;
}

@keyframes rock02 {
		0% {transform: rotate(0deg);}
		30% {transform: rotate(-73.5deg);}
		70% {transform: rotate(70deg);}
		100% {transform: rotate(0deg);}
		transition: all 2s;
}

@media (max-width: 1100px) {
	:root {
		--vreveal: calc(var(--module_width) * .76);
	}
	.box {
		-webkit-animation: rock02 26s infinite;
		animation: rock02 26s infinite;
		transition: all 1s;
	}
}

@media (max-width: 1075px) {
}

@media (max-width: 1050px) {
}

@media (max-width: 1025px) {
}

@-webkit-keyframes rock03 {
		0% {-webkit-transform: rotate(0deg);}
		30% {-webkit-transform: rotate(-20deg);}
		70% {-webkit-transform: rotate(32.5deg);}
		100% {-webkit-transform: rotate(0deg);}
}

@keyframes rock03 {
		0% {transform: rotate(0deg);}
		30% {transform: rotate(-20deg);}
		70% {transform: rotate(32.5deg);}
		100% {transform: rotate(0deg);}
}

@media (max-width: 1000px) {
	:root {
		--vreveal: calc(var(--module_width) * .66);
	}
	.box {
		-webkit-animation: rock03 26s infinite;
		animation: rock03 26s infinite;
		transition: opacity 1s;
	}
}

@media (max-width: 975px) {
}
@media (max-width: 950px) {
}

@media (max-width: 925px) {
}

@-webkit-keyframes rock04 {
		0% {-webkit-transform: rotate(0deg);}
		30% {-webkit-transform: rotate(-47deg);}
		70% {-webkit-transform: rotate(50deg);}
		100% {-webkit-transform: rotate(0deg);}
}

@keyframes rock04 {
		0% {transform: rotate(0deg);}
		30% {transform: rotate(-47deg);}
		70% {transform: rotate(50deg);}
		100% {transform: rotate(0deg);}
}

@media (max-width: 900px) {
	:root {
		--module_width: 115px;
		--vreveal: calc(var(--module_width) * .56);
	}
	.box {
		-webkit-animation: rock04 26s infinite;
		animation: rock04 26s infinite;
		transition: opacity 1s;
	}
}

@media (max-width: 875px) {
}

@media (max-width: 850px) {
}

@media (max-width: 825px) {
}

@-webkit-keyframes rock05 {
		0% {-webkit-transform: rotate(0deg);}
		30% {-webkit-transform: rotate(-24deg);}
		32% {-webkit-transform: rotate(-24deg);}
		80% {-webkit-transform: rotate(16deg);}
		100% {-webkit-transform: rotate(0deg);}
}

@keyframes rock05 {
		0% {transform: rotate(0deg);}
		30% {transform: rotate(-24deg);}
		32% {transform: rotate(-24deg);}
		80% {transform: rotate(16deg);}
		100% {transform: rotate(0deg);}
}

@media (max-width: 800px) {
	:root {
		--module_width: 130px;
		--vreveal: calc(var(--module_width) * .50);
	}
	.box {
		opacity: 0.5;
		-webkit-animation: rock05 26s infinite;
		animation: rock05 26s infinite;
		transition: opacity 1s;
	}
}

@media (max-width: 775px) {
}

@media (max-width: 750px) {
}

@media (max-width: 725px) {
}

@-webkit-keyframes rock06 {
		0% {-webkit-transform: rotate(0deg);}
		30% {-webkit-transform: rotate(-40deg);}
		32% {-webkit-transform: rotate(-40deg);}
		80% {-webkit-transform: rotate(16deg);}
		100% {-webkit-transform: rotate(0deg);}
}

@keyframes rock06 {
		0% {transform: rotate(0deg);}
		30% {transform: rotate(-40deg);}
		32% {transform: rotate(-40deg);}
		80% {transform: rotate(16deg);}
		100% {transform: rotate(0deg);}
}

@media (max-width: 700px) {
	:root {
		--module_width: 151px;
		--vreveal: calc(var(--module_width) * .43);
	}
	.box {
		opacity: 0.3;
		-webkit-animation: rock06 26s infinite;
		animation: rock06 26s infinite;
		transition: opacity 1s;
	}

}

@media (max-width: 675px) {
}

@media (max-width: 650px) {
}
@media (max-width: 625px) {
}

@-webkit-keyframes rock07 {
		0% {-webkit-transform: rotate(0deg);}
		30% {-webkit-transform: rotate(-54.5deg); opacity: 0.3;}
		32% {-webkit-transform: rotate(-54.5deg);}
		54% {-webkit-transform: rotate(0deg); opacity: 0.5;}
		56% {-webkit-transform: rotate(0deg);}
		79% {-webkit-transform: rotate(67deg);}
		82% {-webkit-transform: rotate(67deg);}
		100% {-webkit-transform: rotate(0deg);}
}

@keyframes rock07 {
		0% {transform: rotate(0deg);}
		30% {transform: rotate(-54.5deg); opacity: 0.3;}
		32% {transform: rotate(-54.5deg);}
		54% {transform: rotate(0deg); opacity: 0.5;}
		56% {transform: rotate(0deg);}
		79% {transform: rotate(67deg);}
		82% {transform: rotate(67deg);}
		100% {transform: rotate(0deg);}
}

@media (max-width: 600px) {
	:root {
		--vreveal: calc(var(--module_width) * .38);
	}
	.box {
		opacity: 0.5;
		-webkit-animation: rock07 28s infinite;
		animation: rock07 28s infinite;
		transition: opacity 1s;
	}
}

@media (max-width: 575px) {
}

@media (max-width: 550px) {
}

@media (max-width: 525px) {
}

@-webkit-keyframes rock08 {
		0% {-webkit-transform: rotate(0deg);}
		30% {-webkit-transform: rotate(-90deg);}
		32% {-webkit-transform: rotate(-90deg);}
		54% {-webkit-transform: rotate(0deg);}
		56% {-webkit-transform: rotate(0deg);}
		79% {-webkit-transform: rotate(42.25deg);}
		83% {-webkit-transform: rotate(42.25deg);}
		100% {-webkit-transform: rotate(0deg);}
}

@keyframes rock08 {
		0% {transform: rotate(0deg);}
		30% {transform: rotate(-90deg);}
		32% {transform: rotate(-90deg);}
		54% {transform: rotate(0deg);}
		56% {transform: rotate(0deg);}
		79% {transform: rotate(42.25deg);}
		83% {transform: rotate(42.25deg);}
		100% {transform: rotate(0deg);}
}

@media (max-width: 500px) {
	:root {
		--module_width: 200px;
		--vreveal: calc(var(--module_width) * .25);
	}
	.box {
		opacity: 0.3;
		-webkit-animation: rock08 30s infinite;
		animation: rock08 30s infinite;
		transition: opacity 1s;
	}
}

@media (max-width: 475px) {
}

@media (max-width: 450px) {
}

@-webkit-keyframes rock09 {
		0% {-webkit-transform: rotate(0deg);}
		15% {-webkit-transform: rotate(-10deg);}
		18% {-webkit-transform: rotate(-10deg);}
		32% {-webkit-transform: rotate(0deg);}
		35% {-webkit-transform: rotate(0deg);}
		70% {-webkit-transform: rotate(37.5deg);}
		74% {-webkit-transform: rotate(37.5deg);}
		100% {-webkit-transform: rotate(0deg);}
}

@keyframes rock09 {
		0% {transform: rotate(0deg);}
		15% {transform: rotate(-10deg);}
		18% {transform: rotate(-10deg);}
		32% {transform: rotate(0deg);}
		35% {transform: rotate(0deg);}
		70% {transform: rotate(37.5deg);}
		74% {transform: rotate(37.5deg);}
		100% {transform: rotate(0deg);}
}

@media (max-width: 425px) {
	:root {
		--module_width: 307px;
		--module_height: 255px;
		--vreveal: calc(var(--module_width) * .16);
		--hreveal: calc(var(--module_height) * .955);
	}
	.box {
		opacity: 0.25;
		-webkit-animation: rock09 26s infinite;
		animation: rock09 26s infinite;
		transition: opacity 1s;
	}
}

@media (max-width: 400px) {

}

/* height breakpoints */
@media (max-height: 1000px) {
}

@media (max-height: 950px) {
}

@media (max-height: 900px) {
}

@media (max-height: 850px) {
}

@media (max-height: 800px) {
}

@media (max-height: 750px) {
}

@media (max-height: 700px) {
	:root {
		--hreveal: calc(var(--module_height) * 0.77);
	}
}

@media (max-height: 650px) {
}

@media (max-height: 600px) {
	:root {
		--hreveal: calc(var(--module_height) * 0.7);
	}
	.box {
		opacity: 0.25;
	}
}

@media (max-height: 550px) {
}

@media (max-height: 500px) {
	:root {
		--hreveal: calc(var(--module_height) * 0.6);
	}
}

@media (max-height: 450px) {
}

@media (max-height: 400px) {
	:root {
		--hreveal: calc(var(--module_height) * 0.43);
	}
	.box {
		opacity: 0.25;
	}
}

@media (max-height: 300px) {
	:root {
		--hreveal: calc(var(--module_height) * 0.405);
	}
}
