@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

* {
	font-size: 0;
	box-sizing: border-box;
}

:root {
	--reveal: 76px;
}

.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	right:0;
	background-color: blue;
}

.box {
	position: fixed;
	display: inline-block;
	width: 100px;
	height: 100vh;
	background-image: url('../images/o_black.svg');
	background-size: contain;
	background-repeat: repeat;
	background-blend-mode: exclusion;
	text-align: center;
	font-size: 80px;
	font-family: 'Bungee Shade', cursive;
	word-wrap: break-word;
	line-height: 80px;
	vertical-align: top;
	padding-top: 10px;
	transition: all 10s;
}

#_01 {
	right: calc(var(--reveal) * 0);
}

#_02 {
	right: calc(var(--reveal) * 1);
}

#_03 {
	right: calc(var(--reveal) * 2);
}

#_04 {
	right: calc(var(--reveal) * 3);
}

#_05 {
	right: calc(var(--reveal) * 4);
}

#_06 {
	right: calc(var(--reveal) * 5);
}

#_07 {
	right: calc(var(--reveal) * 6);
}

#_08 {
	right: calc(var(--reveal) * 7);
}

#_09 {
	right: calc(var(--reveal) * 8);
}

#_10 {
	right: calc(var(--reveal) * 9);
}

#_11 {
	right: calc(var(--reveal) * 10);
}

#_12 {
	right: calc(var(--reveal) * 11);
}

#_13 {
	right: calc(var(--reveal) * 12);
}

#_14 {
	right: calc(var(--reveal) * 13);
}

#_15 {
	right: calc(var(--reveal) * 14);
}

#_16 {
	right: calc(var(--reveal) * 15);
}

#_17 {
	right: calc(var(--reveal) * 16);
}

#_18 {
	right: calc(var(--reveal) * 17);
}

#_19 {
	right: calc(var(--reveal) * 18);
}

#_20 {
	right: calc(var(--reveal) * 19);
}

#_21 {
	right: calc(var(--reveal) * 20);
}

#_22 {
	right: calc(var(--reveal) * 21);
}

#_23 {
	right: calc(var(--reveal) * 22);
}

#_24 {
	right: calc(var(--reveal) * 23);
}

#_25 {
	right: calc(var(--reveal) * 24);
}

#_26 {
	right: calc(var(--reveal) * 25);
}

#_27 {
	right: calc(var(--reveal) * 26);
}

#_28 {
	right: calc(var(--reveal) * 27);
}

#_29 {
	right: calc(var(--reveal) * 28);
}

#_30 {
	right: calc(var(--reveal) * 29);
}

#_31 {
	right: calc(var(--reveal) * 30);
}

#_32 {
	right: calc(var(--reveal) * 31);
		background-image: url('../images/o_blue.svg');
}

#_33 {
	right: calc(var(--reveal) * 32);
}

#_34 {
	right: calc(var(--reveal) * 33);
		background-image: url('../images/o_blue.svg');
}

#_35 {
	right: calc(var(--reveal) * 34);
}

#_36 {
	right: calc(var(--reveal) * 35);
		background-image: url('../images/o_blue.svg');
}

#_37 {
	right: calc(var(--reveal) * 36);
}

#_38 {
	right: calc(var(--reveal) * 37);
		background-image: url('../images/o_blue.svg');
}

#_39 {
	right: calc(var(--reveal) * 38);
}

#_40 {
	right: calc(var(--reveal) * 39);
	background-image: url('../images/o_blue.svg');
}

#_41 {
	right: calc(var(--reveal) * 40);
}

#_42 {
	right: 100%;
	background-image: url('../images/o_blue.svg');

}

@media (max-width: 1400px) {
	#_42{
		right: calc(var(--reveal) * 2) ;
	}
	#_41{
		right: calc(var(--reveal) * 2) ;
	}
}

@media (max-width: 1375px) {
	#_41{
		right: -110px;
	}
	#_40{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 1350px) {
	#_40{
		right: -110px;
	}
	#_39{
		right: auto;
		right: calc(var(--reveal) * 3);
	}
}

@media (max-width: 1325px) {

}

@media (max-width: 1300px) {
	#_38{
		right: -110px;
	}
	#_37{
		right: calc(var(--reveal) * 5);

	}
}

@media (max-width: 1275px) {

}

@media (max-width: 1250px) {
	#_36{
		right: -110px;
	}
	#_35{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 1225px) {

}

@media (max-width: 1200px) {
	#_34{
		right: -110px;
	}
	#_33{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 1175px) {

}

@media (max-width: 1150px) {
	#_32{
		right: -110px;
	}
	#_31{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 1125px) {

}

@media (max-width: 1100px) {
	#_30{
		right: -110px;
	}
	#_29{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 1075px) {
	#_29{
		right: -110px;
	}
	#_28{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 1050px) {
	#_28{
		right: -110px;
	}
	#_27{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 1025px) {
	#_27{
		right: -110px;
	}
	#_26{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 1000px) {
	#_26{
		right: -110px;
	}
	#_25{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 975px) {
	#_25{
		right: -110px;
	}
	#_24{
		right: auto;
		right: 0px;
	}
}
@media (max-width: 950px) {
	#_24{
		right: -110px;
	}
	#_23{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 925px) {
	#_23{
		right: -110px;
	}
	#_22{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 900px) {
	#_22{
		right: -110px;
	}
	#_21{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 875px) {
	#_21{
		right: -110px;
	}
	#_20{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 850px) {
	#_20{
		right: -110px;
	}
	#_19{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 825px) {
	#_19{
		right: -110px;
	}
	#_18{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 800px) {
	#_18{
		right: -110px;
	}
	#_17{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 775px) {
	#_17{
		right: -110px;
	}
	#_16{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 750px) {
	#_16{
		right: -110px;
	}
	#_15{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 725px) {
	#_15{
		right: -110px;
	}
	#_14{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 700px) {
	#_14{
		right: -110px;
	}
	#_13{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 675px) {
	#_13{
		right: -110px;
	}
	#_12{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 650px) {
	#_12{
		right: -110px;
	}
	#_11{
		right: auto;
		right: 0px;
	}
}
@media (max-width: 625px) {
	#_11{
		right: -110px;
	}
	#_10{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 600px) {
	#_10{
		right: -110px;
	}
	#_09{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 575px) {
	#_09{
		right: -110px;
	}
	#_08{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 550px) {
	#_08{
		right: -110px;
	}
	#_07{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 525px) {
	#_07{
		right: -110px;
	}
	#_06{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 500px) {
	#_06{
		right: -110px;
	}
	#_05{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 475px) {
	#_05{
		right: -110px;
	}
	#_04{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 450px) {
	#_04{
		right: -110px;
	}
	#_03{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 425px) {
	#_03{
		right: -110px;
	}
	#_02{
		right: auto;
		right: 0px;
	}
}

@media (max-width: 400px) {
	#_02{
		right: -110px;
	}
	#_01{
		right: auto;
		right: 0px;
	}
}
